.menu-btn, .header button {
  height: 3rem;
  min-width: 20vw;
  background-color: #2b2b2b;
  color: #fdfdfd;
  border: solid 0px #fdfdfd;
  font-size: calc(0.5rem + 2vw);
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

@media (max-width: 1280px) {
  .header {
    z-index: 999;
    width: 10%;
    position: fixed;
  }
  .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .submenu {
    position: fixed;
    margin-left: calc(20vw);
  }
  .submenu button {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}

@media (min-width: 1280px) {
  .submenu {
    height: 2.5rem;
  }
  .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .submenu {
    margin-top: 4rem;
  }
}

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

html {
  font-family: "SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0%;
  padding: 0%;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.header button:hover {
  background-color: rosybrown;
  color: #2b2b2b;
}

.fall-down-menu-appear {
  display: -ms-grid;
  display: grid;
  -webkit-animation: menu-animation 1s alternate;
          animation: menu-animation 1s alternate;
  opacity: 100%;
}

.submenu {
  position: absolute;
  display: none;
  z-index: 999;
}

.menu {
  z-index: 999;
  opacity: 0%;
  display: none;
  height: 3rem;
  padding: 0%;
  margin: 0%;
}

.buy-btn-block {
  display: -ms-grid;
  display: grid;
}

.buy-btn-block .submenu {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33.33%;
}

.buy-btn-block .submenu button {
  height: 100%;
}

.buy-btn-block:hover > .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  z-index: 99;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
}

.content .info-block {
  margin-top: 10%;
}

.content #design-part img {
  z-index: 700;
  position: relative;
  width: 100%;
}

.content #design-part #subtitle1 {
  z-index: 800;
  position: absolute;
  margin-top: 58%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: calc(0.5em + 2vw);
}

.content #hardware-part img {
  z-index: 700;
  position: relative;
  width: 100%;
}

.content #hardware-part #subtitle2 {
  z-index: 800;
  position: absolute;
  margin-top: 58%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: calc(0.5em + 2vw);
}

.content #compatibility-part img {
  z-index: 700;
  position: relative;
  width: 100%;
}

.content #compatibility-part #subtitle3 {
  z-index: 800;
  position: absolute;
  margin-top: 42%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: calc(0.5em + 2vw);
}

.content #pre-order-part .sticky-placeholder {
  height: 10rem;
}

.content #pre-order-part #subtitle4 {
  position: -webkit-sticky;
  position: sticky;
  bottom: 3rem;
  text-align: center;
  font-size: calc(1em + 2vw);
  line-height: 1rem;
}

footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 1rem;
  background-color: #2b2b2b;
}

footer #copyright {
  text-align: center;
  color: rosybrown;
  padding-bottom: 0rem;
}

footer #links {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

footer #links a {
  color: #fdfdfd;
  padding: 10px;
}
/*# sourceMappingURL=main.css.map */